@using SCRH.Models
@using PagedList.Mvc
@model PagedList.PagedList<Quarto>
@{
    var paginaAtual = (int)TempData["Pagina"];
    var usuarioId = ViewBag.UsuarioId;
}

<div class="table-responsive">
    @if (Model != null && Model.Any())
    {
    <table class="table">
        <thead>
            <tr>
                <th>
                    <b>Nº</b>
                </th>
                <th>
                    <b>Período</b>
                </th>
                <th>
                    <b>Valor</b>
                </th>
                <th class="text-center">
                    <b>Checkin</b>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var quarto in Model.OrderByDescending(x=>x.NumeroDoQuarto))
            {
                foreach (var item in quarto.Reservas.Where(x => !x.Excluido && x.UsuarioId==usuarioId).OrderByDescending(x=>x.Data))
                {
                    <tr>
                        <td>
                            <b>@Html.DisplayFor(modelItem => quarto.NumeroDoQuarto)</b>
                            <div class="small">
                                @Html.DisplayFor(modelItem => quarto.Categoria.Nome)
                            </div>
                        </td>
                        <td>
                            @(string.Format("De {0} a {1}", item.Data.ToShortDateString(), item.DataFinal.ToShortDateString()))
                        </td>
                        <td>
                            @(item.ValorFinal().ToString("C2"))
                            <div class="small">
                                @(string.Format("{0} diária(s) de {1}/dia", item.QuantidadeDiarias(), item.Valor.ToString("C2")))
                            </div>
                        </td>
                        <td class="text-center">
                            @if (item.IsCheckin())
                            {
                                @Html.DisplayFor(x => item.DataDeEntrada)
                            }
                            else
                            {
                                <span>Não</span>
                            }
                            @if (!item.IsCheckin())
                            {
                                <button type="button" id="btn-excluir" data-abrirmodal="@Url.Action("AbrirModalExcluir", "Home", new { id = item.Id, quartoId=quarto.Id })" class="btn btn-default btn-fab btn-round btn-abrirModal float-right" data-toggle="tooltip" title="Excluir">
                                    <i class="material-icons">clear</i>
                                </button>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    }
    else
    {
        <div class="text-center">
            <h3>Nenhuma Informação Encontrada!</h3>
        </div>
    }
</div>


<div class="row">
    <div class="col-12 mt-5">
        <div id="pageLink" class=" float-right" data-paginaatual="@paginaAtual" style="margin-top:-20px !important;">
            @Html.PagedListPager(Model, pagina => Url.Action("BuscarReservas", "Home", new { pagina = pagina }), new PagedListRenderOptions { LinkToPreviousPageFormat = "«", LinkToNextPageFormat = "»" })
        </div>
    </div>
</div>
