@{
    ViewBag.Title = "Quartos";
}




<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-info">
            <div class="card-title mt-0 h3">
                Reservas <b>
                    <a href="javascript:;" class="btn-abrirModal" data-abrirmodal="@Url.Action("AbrirModalAdicionar", "Reservas", new { area = "Recepcao"})" style="float: right; font-size: 17px;" data-toggle="Adicionar" title="Adicionar">
                        <i class="material-icons fa-2x">add</i>
                    </a>
                </b>
            </div>
        </div>
        <div class="card-body">
            <div class="carregar-itens" data-url="@Url.Action("BuscarReservas", "Reservas", new { area = "Recepcao" })">
                @Html.Partial("_PartialTabela")
            </div>
        </div>
    </div>
</div>

<div class="modal fade abrir-modal"></div>

@section scripts{
    @Scripts.Render("~/bundles/carregar-modal")
    @Scripts.Render("~/bundles/evento-ativo")
    @Scripts.Render("~/bundles/buscar-paginacao")
    <script src="//cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
}
